@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/open-sans-v34-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/open-sans-v34-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/open-sans-v34-latin-regular.ttf') format('truetype'); /* Safari, Android, iOS */
  }

  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: local(''),
         url('../fonts/open-sans-v34-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/open-sans-v34-latin-600.woff') format('woff'), /* Modern Browsers */
         url('../fonts/open-sans-v34-latin-600.ttf') format('truetype'); /* Safari, Android, iOS */
  }
  
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/open-sans-v34-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/open-sans-v34-latin-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/open-sans-v34-latin-700.ttf') format('truetype'); /* Safari, Android, iOS */
  }
  
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    src: local(''),
         url('../fonts/open-sans-v34-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/open-sans-v34-latin-800.woff') format('woff'), /* Modern Browsers */
         url('../fonts/open-sans-v34-latin-800.ttf') format('truetype'); /* Safari, Android, iOS */
  }
  
  @font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    src: local(''),
         url('../fonts/open-sans-v34-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/open-sans-v34-latin-italic.woff') format('woff'), /* Modern Browsers */
         url('../fonts/open-sans-v34-latin-italic.ttf') format('truetype'); /* Safari, Android, iOS */
  }
  
  
html {
    height: 100%;
}

* {
    box-sizing: border-box;
}

.page {
    display: flex;
    min-width: 350px;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
}

.container {
    width: 100%;
    min-width: 350px;
    max-height: 100%;
    margin: 0 auto;
}

.container_intro {
    background-color: #F6F2F2;
    min-height: 688px;
}

.header {
    display: flex;
    align-content: center;
    align-items: stretch;
    max-width: 1249px;
    width: 100%;
    margin: 0 auto;
    margin-top: 29px;
    min-height: 89px;
    background-color: rgba(0, 0, 0, 0.8);
}

.navigation {
    box-sizing: content-box;
    flex-basis: content;
    display: flex; 
    width: 100%;
    min-height: 89px;
    padding: 0px;
    padding-right: 8%;
    margin: 0px auto;
}

.navigation__menu {
    box-sizing: content-box;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    min-height: 89px;
    margin: 0px;
    padding: 0;
}

.navigation__link {
    display: flex;
    max-height: 89px;
    align-items: center;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    font-style: normal;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    color: #E0E0E0;
    min-width: 90px;
    padding: 38px 23px 36px 18px;
}

.navigation__link:hover {
    background-color:  #FF3F40;
}

.navigation__link:focus {
    background-color:  #FF3F40;
}

.main {
    display: flex;
    flex-wrap: nowrap;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
    justify-content: space-between;
    width: 100%;
    max-width: 1251px; 
    margin: 0 auto;
}

.main_intro {
    gap: 80px;
    min-height: 359px;
    margin-top: 102px;
}

@media (max-width: 1200px) {
    .main_intro {
        padding: 0 2vw;
        flex-shrink: 1;
    }
}

.main__sect {
    display: flex;
    box-sizing: content-box;
}

.main__sect_left {
    flex-basis: 0;
    flex-grow: 1;
    flex-direction: column;
    justify-content: flex-start;
}

.h1 {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    text-transform: uppercase;
    font-size: 60px;
    line-height: 1.2;
    letter-spacing: 1.5px;
    font-weight: 800;
    color: #000000;
}

.h1_intro {
    margin: 0px;
    margin-top: -16px;
    margin-bottom: 37px;
}

@media (max-width: 550px) {
    .h1 {
        font-size: 11.5vw;
    }
}

.text {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 1.75;
    font-weight: 400;
    color: #000000;
}

.text_intro {
    margin: 0px;
    margin-bottom: 64px;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 50px;
    padding: 15px 15px;
    width: 153px;
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-size: 18px;
    font-weight: 700;
}

.button_intro {
    margin: 0px;
    margin-bottom: 13px;
    color: #ffffff;
    background-color: #FF2D2D;
    border-width: 0px;
    text-decoration: none;
}

.button:hover {
    box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.4) inset;
}

.button:focus {
    box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.4) inset;
}

.main__sect_right {
    flex-shrink: 1;
    margin: 0px;
    padding: 0px;
}

.video {
    object-fit: cover;
    margin: 0px;
    padding: 0px;
    box-shadow: -2.2px -13.8px 73px rgba(0, 0, 0, 0.29);
}

.video_intro {
    width: 554px;
}

@media (max-width: 1170px) {
    .video_intro {
        width: 100%;
        height: auto;
        max-width: 554px;
    }
}

@media (max-width: 1000px) {
    .main_intro {
        flex-wrap: wrap;
    }
}

@media (max-width: 800px) {
    .main__sect_right {
        width: 100%;
    }
    .video_intro {
        width: 100%;
    }
}

.container_provide {
    background-color: #ffffff;
    min-width: 350px;
}

.main_provide {
    gap: 100px;
    min-height: 589px;
    margin-top: 107px;
}

.h2 {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    text-transform: uppercase;
    font-size: 42px;
    font-weight: 700;
    color: #000000;
}

.h2_provide {
    line-height: 1.31;
    letter-spacing: 0.422159px;
}

.text_provide {
    margin-bottom: 64px;
}

.button_learn {
    margin: 0px;
    margin-bottom: 13px;
    color: #FF2D2D;
    background-color: #ffffff;
    border: 2px solid;
    border-color: #FF0000;
}

.main__sect_services {
    justify-content: flex-end;
    flex-shrink: 0;
    flex-wrap: wrap;
    max-width: 620px;
    margin: 0px;
    padding: 0px;
}

.main__service {
    width: 290px;
    margin: 0px;
    margin-left: 20px;
    margin-bottom: 53px;
}

.h3 {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-size: 24px;
    font-weight: 600;
}

@media (max-width: 1300px) {
    .main_provide {
        width: 100%;
        flex-wrap: wrap;
        padding: 0 2vw;
    }
    .main__sect_services {
        width: 100%;
        flex-wrap: wrap;
        margin-right: 2vw;
    }
}

.hr {
    border: none;
    width: 100%;
    height: 5px;
}

.hr_provide {
    color: #ECECEC;
    background-color: #ECECEC;
    margin-top: 112px;
    margin-bottom: 104px;
}